@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}


.home {
  background-color: #f4f0bb;
  height: 80vh;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
